[submodule "IFPB/engenharia-de-computacao/2025.1/microcontroladores"]
	path = IFPB/engenharia-de-computacao/2025.1/microcontroladores
	url = https://github.com/WilliamdeSousa/microcontroladores.git
[submodule "IFPB/engenharia-de-computacao/2025.2/projeto-de-sistemas-digitais"]
	path = IFPB/engenharia-de-computacao/2025.2/projeto-de-sistemas-digitais
	url = https://github.com/WilliamdeSousa/projeto-de-sistemas-digitais.git
[submodule "IFPB/projeto-olimpico-de-programacao/2022"]
	path = IFPB/projeto-olimpico-de-programacao/2022
	url = https://github.com/WilliamdeSousa/pop2022
[submodule "IFPB/projeto-olimpico-de-programacao/2023"]
	path = IFPB/projeto-olimpico-de-programacao/2023
	url = https://github.com/WilliamdeSousa/pop2023.git
[submodule "IFPB/telematica/2022.1/lab-sistemas-abertos"]
	path = IFPB/telematica/2022.1/lab-sistemas-abertos
	url = https://github.com/WilliamdeSousa/lab-sistemas-abertos
[submodule "CeV/ola-mundo"]
	path = CeV/ola-mundo
	url = https://github.com/WilliamdeSousa/ola-mundo
[submodule "CeV/java"]
	path = CeV/java
	url = https://github.com/WilliamdeSousa/java-cev
[submodule "CeV/html-css"]
	path = CeV/html-css
	url = https://github.com/WilliamdeSousa/html-css
[submodule "CeV/php-moderno"]
	path = CeV/php-moderno
	url = https://github.com/WilliamdeSousa/curso-php
[submodule "CeV/exercicios-python"]
	path = CeV/exercicios-python
	url = https://github.com/WilliamdeSousa/exercicios-python-cev
